'context-menu':
  '.tree-view .directory .icon-file-directory, .tree-view .directory .icon-repo': [
      type: 'separator'
    ,
      label: 'Ansible: Create role', command: 'ansible-galaxy-plus:init-role'
    ,
      type: 'separator'
  ]
